name: Update pre-commit Hooks

on:
  schedule:
    - cron: "0 0 * * 5"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_FOR_PUSHES }}
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
      - name: Set up Python
        run: uv python install 3.12
      - name: Install dependencies
        run: uv sync --all-extras

      # Update pre-commit hooks and check for changes
      - name: Update pre-commit hooks
        id: update_hooks
        run: |
          uv run pre-commit autoupdate
          if git diff --exit-code .pre-commit-config.yaml; then
            echo "has_updates=false" >> "$GITHUB_OUTPUT"
            echo "No updates to pre-commit hooks. Exiting workflow."
          else
            echo "has_updates=true" >> "$GITHUB_OUTPUT"
          fi

      # Commit/push
      - name: Commit changes
        if: steps.update_hooks.outputs.has_updates == 'true'
        shell: bash
        run: |
          git config --local user.email "33836132+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .pre-commit-config.yaml
          git commit -m ":arrow_up: Update pre-commit hooks [skip ci]" || echo "No changes to commit"
          git push
